extends ./layouts/layout 

block content 
    a(href="/users/edit") 회원정보 변경
    br
    if !loggedInUser.github && !loggedInUser.kakao
        a(href="/users/myprofile/password") 비밀번호 변경
    hr
    div 
