extends ./layouts/layout 

block content 
    if errorMessage 
        span #{errorMessage}
    form(method="POST")
        input(placeholder="현재비밀번호" type="password" name="password")
        input(placeholder="비밀번호변경" type="password" name="changePassword")
        input(placeholder="비밀번호확인" type="password" name="changePasswordConfirm")
        input(type="submit" value="변경하기")