doctype html
html(lang="ko") 
    head 
        title #{pageTitle} | #{siteName}
        <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.10.1/mvp.css">
        include ../partials/header 
    body 
        main 
            block content 
    include ../partials/footer 
        